.UserList {
  list-style: none;
  border: 1px solid var(--black-3);
  max-height: 100%;
  overflow: auto;
  position: relative;
}

.Add {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0.4;
  transition: opacity 0.4s;
  cursor: pointer;
}

.Add:hover {
  opacity: 0.8;
}
